body{
	background-color: rgb(39, 40, 34);
	color: white;
}

h1{
	padding: 20px;
	color: rgb(2, 117, 216);
}

.fullwidth{
	width: 100%;
}

.whitish{
	color: rgb(244, 248, 255);
}

.orange{
	color: rgb(253, 151, 31);
}

.bgOlive{
	background-color: rgb(95, 96, 86);
	margin-top: 30px;
}